@media (max-width:575px) {
    
    .container{
        width: 100%;
    }
    :root{
        --gutter-width:15px;
    }
    .main-navigation,.navigation-2{
        display: none;
    }
    .icons{
        display: none;
    }
    
}
@media (min-width:576px) {
    .col-sm-1{
        width: 8.33%;
    }
    .col-sm-2{
        width: 16.66%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33.33%;
    }
    .col-sm-5{
        width:41.65%;
    }
    .col-sm-6{
        width:50%;
    }
    .col-sm-7{
        width:58.31%;
    }
    .col-sm-8{
        width:66.64%;
    }
    .col-sm-9{
        width: 74.97%;
    }
    .col-sm-10{
        width: 83.33%;
    }
    .col-sm-11{
        width: 91.63%;
    }
    .col-sm-12{
        width: 100%;
    }
    .container{
        width:540px ;
    }
    .main-navigation,.navigation-2{
        display: none;
    }
    .icons{
        display: none;
    }
    .fa-bars{
        display:block;
    }
    
    
}
@media (min-width:768px) {
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.33%;
    }
    .col-md-5{
        width:41.65%;
    }
    .col-md-6{
        width:50%;
    }
    .col-md-7{
        width:58.31%;
    }
    .col-md-8{
        width:66.64%;
    }
    .col-md-9{
        width: 74.97%;
    }
    .col-md-10{
        width: 83.33%;
    }
    .col-md-11{
        width: 91.63%;
    }
    .col-md-12{
        width: 100%;
    }
    
    .container{
        width:740px ;
    }
    .fa-bars{
        display: block;
        
    }
    .mobile-menu{
        display: block;
    }
    .navbar{
        padding-left: 30px;
        padding-right: 30px;
       
    }

    .menu .menu-subimg img:last-child{
        display: none;
    }
    .address .sub-address,.address .booking{
        padding:40px 20px;
    }
    .articles .row .col-4:last-child{
        display: none;
    }
    
}
@media (min-width:992px) {
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.33%;
    }
    .col-lg-5{
        width:41.65%;
    }
    .col-lg-6{
        width:50%;
    }
    .col-lg-7{
        width:58.31%;
    }
    .col-lg-8{
        width:66.64%;
    }
    .col-lg-9{
        width: 74.97%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.63%;
    }
    .col-lg-12{
        width: 100%;
    }
    .container{
        width:960px ;
    }
    .main-navigation,.navigation-2{
        display: flex;
    }
    .fa-bars{
        display: none;
        
    }
    .mobile-menu{
        display: none;
    }
    .banner h1{
        font-size: 20px;
    }
    .menu .menu-subimg img:first-child{
        height: 250px;
        width: 250px;
    }
    .menu .menu-subimg img:last-child{
        display: block;
    }
    .address .sub-address,.address .booking{
        padding: 70px ;
    }
    .articles .row .col-4:last-child{
        display: none;
    }
    .logo {
        margin-left: 0;
        margin-bottom: 0;
    }

    .navigation-2 .drop-down{
        right: 10%;
    }
}
@media (min-width:1200px) {
    .col-xl-1{
        width: 8.33%;
    }
    .col-xl-2{
        width: 16.66%;
    }
    .col-xl-3{
        width: 25%;
    }
    .col-xl-4{
        width: 33.33%;
    }
    .col-xl-5{
        width:41.65%;
    }
    .col-xl-6{
        width:50%;
    }
    .col-xl-7{
        width:58.31%;
    }
    .col-xl-8{
        width:66.64%;
    }
    .col-xl-9{
        width: 74.97%;
    }
    .col-xl-10{
        width: 83.33%;
    }
    .col-xl-11{
        width: 91.63%;
    }
    .col-xl-12{
        width: 100%;
    }
    .container{
        width:1140px ;
    }
    .main-navigation,.navigation-2{
        display: flex;
    }
    .icons{
        display: block;
    }
    .fa-bars{
        display: none;
    }
    .banner h1{
        font-size: 80px;
    }
    .menu .menu-subimg img:first-child{
        height: 350px;
        width: 300px;
    }
    .articles .row .col-4:last-child{
        display: block;
    }
    .logo {
        margin-left: 80px;
        margin-bottom: 40px;
    }
    
}
@media (min-width:1400px) {
    .col-xxl-1{
        width: 8.33%;
    }
    .col-xxl-2{
        width: 16.66%;
    }
    .col-xxl-3{
        width: 25%;
    }
    .col-xxl-4{
        width: 33.33%;
    }
    .col-xxl-5{
        width:41.65%;
    }
    .col-xxl-6{
        width:50%;
    }
    .col-xxl-7{
        width:58.31%;
    }
    .col-xxl-8{
        width:66.64%;
    }
    .col-xxl-9{
        width: 74.97%;
    }
    .col-xxl-10{
        width: 83.33%;
    }
    .col-xxl-11{
        width: 91.63%;
    }
    .col-xxl-12{
        width: 100%;
    }
    .container{
        width:1320px ;
    }
    .fa-bars{
        display: none;
    }
    

}