:root{
    --gutter-width:15px;
    --primary-color:#D96B1A;
    --primary-color-rgb:255, 165, 0;
    --secondary-color:#F8F3ED;
    --secondary-color-rgb:255, 255, 255;
    --tertiary-color:#3E1C13;
    --bg-color-shade:#ffffff;
    --bg-color-tint:#181818;
    --fw:500;
    --lh:1;
    --fs:16px;
    --text-color:#444444;
    --font-family-primary:'Outfit';
    --font-family-secondary: 'Platypi';
}
*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: var(--gutter-width);
    padding-right: var(--gutter-width);
}
html,body{
    scroll-behavior: smooth;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left:calc(-1 * var(--gutter-width)); 
    margin-right:calc(-1 * var(--gutter-width)); 
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul,ol{
    padding-left: 0;
}
.text-align-center{
    text-align: center;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-betwn{
    justify-content: space-between;
}
.flex-direc-col{
    flex-direction: column;
}
.mr{
    margin-right: 40px;
}
.d-flex{
    display: flex;
}

body{
    color:var(--text-color);
    line-height:var(--lh) ;
    font-size:var(--fs) ;
    font-weight:var(--fw) ;
    background-color:#ecebc8;
    font-family: var(--font-family-primary);
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width:41.65%;
}
.col-6{
    width:50%;
}
.col-7{
    width:58.31%;
}
.col-8{
    width:66.64%;
}
.col-9{
    width: 74.97%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.63%;
}
.col-12{
    width: 100%;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,
.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    padding-left: var(--gutter-width);
    padding-right: var(--gutter-width);
}
.m-2{
    margin-top: 80px;
    margin-bottom: 80px;
}
.mb{
    margin-bottom: 80px;
}
.mt{
    margin-top: 80px;
}

::selection{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
li{
    list-style: none;
}
/* header start   */
header{
    font-family: 'Outfit';
    padding:30px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* border-bottom: 1px rgb(92, 92, 92) solid; */
    z-index: 999;
}
.navbar{
    position: relative;
    padding-left: 0px;
    padding-right:  0px;
   
}
.navbar li .home{
    color: var(--primary-color);
}
header nav ul li{
    list-style: none;
    color:white;
    font-size: 12px;
}
.navbar nav ul li a{
    padding: 30px 20px;
    margin-right: 3px;
    margin-left: 3px;
    color:var(--secondary-color);
    display: block;
    text-transform: uppercase;
}
.navbar nav ul li a:hover,.drop-down ul li:hover,.mega-menu ul li:hover{
    color: var(--primary-color);
}
header nav ul li a i{
    margin-left: 5px;
}

.icons a i{
    color: var(--secondary-color);
    margin-right: 10px;
    
}
.icons a i:hover{
    color: var(--primary-color);
}
.icons{
    margin-left: 20px;
    position: relative;
}
.icons:nth-child(2)::before{
    content: '7';
    color: var(--secondary-color);
    background-color: var(--primary-color);
    height: 11px;
    width: 12px;
    border-radius: 50%;
    padding: 2px;
    font-size: 10px;
    text-align: center;
    position: absolute;
    top: -37%;
    right: 31px;
    z-index: 999;
}
.cart::after{
    content: '9';
    color: var(--secondary-color);
    background-color: var(--primary-color);
    height: 11px;
    width: 12px;
    border-radius: 50%;
    padding: 2px;
    font-size: 10px;
    text-align: center;
    position: absolute;
    top: -37%;
    right: 2px;
    z-index: 999;
}
.navbar .drop-down,.navbar .mega-menu{
    width: 290px;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    top: 100%;
    left: 25%;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease;
   
}
.navigation-2 .drop-down{
   left: -80%;
}
.navbar .mega-menu{
    width: 100%;
    left: 0;
}
.navbar .mega-menu ul li{
    margin-right: 60px;
    
}
.drop-down .drop-menu li,.mega-menu li{
    color: var(--text-color);
    margin-bottom: 20px;
    /* z-index: 999; */
    font-size: var(--fs);
    font-weight: 400;
}
.main-navigation > ul li:nth-child(1),.main-navigation > ul li:nth-child(2),.main-navigation > ul li:nth-child(3){
    position: relative;
}
.navigation-2{
    display: flex;
}
.navigation-2 nav > ul li:nth-child(2),.navigation-2 nav > ul li:nth-child(3){
    position: relative;
}

.navbar ul li:hover .drop-down,.navbar ul li:hover .mega-menu{
    visibility: visible;
    opacity: 1;
}
.mega-menu ul li span{
    font-size: 12px;
    color: gray;
}
.mega-img{
    position: relative;
    background-blend-mode: overlay;
    background:url(../images/megamenu/img-mega-menu-min.jpeg),linear-gradient(rgb(112, 112, 112),rgb(32, 32, 32));
    height: 300px;
    width: 500px;
    background-position: center;
    background-size: cover;

}
.mega-img-content{
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 999;
    color: var(--secondary-color);
}

.mega-img-content span{
    color: var(--primary-color);
    font-size: 14px;
}
.mega-img-content h4{
    font-family: var(--font-family-secondary);
    font-weight: 100;
    font-size: 20px;
    margin-top: 15px;
}
/* nav.main-navigation ul li a{
    position: relative;
} */
 nav.main-navigation ul li a,.navigation-2 nav ul li a{
    position: relative;
 }
nav.main-navigation ul li a:after,.navigation-2 nav ul li a:after,.drop-down ul li:after{
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 0%;
    content: '';
    background-color: var(--primary-color);
    height: 1px;
    transition: all .5s ease-in;
    margin-left: 20px;
}
.drop-down ul li:after{
    top: 100%;
    margin: 0;
}
nav.main-navigation ul li a:hover:after,.navigation-2 nav ul li a:hover:after{
    width: 60%;
}
.drop-down ul li:hover:after{
    width: 85%;
}
.fa-bars{
    font-size: 30px;
    color: white;
}
.mobile-menu{
    background-color: var(--bg-color-shade);
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    /* transform: translateX(100%); */
    transition: all ease-out .3s;
}
.mobile-menu ul{
    flex-direction: column;
}

.mobile-menu ul li a{
    color: var(--text-color);
    padding:20px  80px;
    display: inline-block;
}

/* header end  */

/* banner start  */



.banner{
    background-image: url(../images/banner/b1.jpg),linear-gradient(black,rgb(119, 119, 119));
    background-blend-mode:overlay;
    height: 800px;
    width: 100%;
    background-size:cover;
    position:relative;
    
}
.banner-head{
    position: absolute;
    top: 40%;
}
.banner .banner-head span,.visit span,.artciles-head span,.menu-title span,.sub-address span,.booking span,.products-title span,.story-content-title span,.testimonials-content span{
    color: var(--primary-color);
    font-family:var(--font-family-primary) ;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 30px;
}
.banner .banner-head h1{
    color: var(--secondary-color);
    font-family:var(--font-family-secondary);
    font-size: 80px;
    margin-bottom: 30px;
    font-weight: 100;
}
.banner .banner-head p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
    font-family:'Outfit';
    color: var(--secondary-color);
}
.btn{
    padding: 13px 34px;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid var(--secondary-color);
    text-transform: uppercase;
    margin-right: 20px;
    color: var(--secondary-color);
    font-family:var(--font-family-primary);
}
.btn i{
    margin-left: 10px;
    font-weight: 900;
}
.btn-primary{
    background-color: var(--primary-color);
    border-color:var(--primary-color);
}
.btn:hover{
    background-color: var(--secondary-color);
    color: black;
    border-color: var(--secondary-color);
    font-weight: 400;
    transition: all .2s ease-in-out;
}
/* banner end  */

/* visit start  */
.visit .row,.articles .row,.menu .row,.address .row,.products .row,.story .row,.footer .row{
    margin-left:0;
    margin-right: 0;
    
}
.visit{
    padding-top: 120px;
    padding-bottom: 120px;
}
.visit h2,.artciles-head h2,.menu-title h2,.sub-address h2,.booking h2,.products-title h2,.story-content-title h2,.testimonials-content h2{
    font-size: 45px;
    padding-bottom: 28px;
    font-family: var(--font-family-secondary);
    color: var(--tertiary-color);
    font-weight:var(--fw);
}
.visit p,.sub-address p,.booking p,.products-title p{
    font-size: 16px;
    font-family: var(--font-family-primary);
    font-weight: 400;
    margin-bottom: 50px;
}
.visit-img{
    position: relative;
}
.visit-img-content{
   position: absolute;
   top:30% ;
   left: 0;
   right: 0;
   color:var(--secondary-color);
   z-index: 1;
   text-align: center;
   line-height:55px;
}
.flip:hover{
    animation: flip 1s;
    /* transform: rotateY(-180deg);
    transition: all .3s ease-in-out; */
}
@keyframes flip {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}
.visit-img-content span{
    color: var(--secondary-color);
    font-size: 25px;
    font-family: var(--font-family-secondary);
}
/* visit end  */

/* menu  */
.menu{
    position: relative;
}
.menu-title{
    margin-bottom: 30px;
}
.coffee-beans{
    position: absolute;
    right: 0;
    top: 10%;
}
.tea-cup{
    position: absolute;
    top: 50%;
    left: 0;
}
.roll{
    right: 0;
    position: absolute;
    top: 75%;

}
.menu .menu-subimg img:first-child{
    margin-right:-50px;
    z-index: 1;
    align-self: center;
}
.menu-content h3{
    color: var(--primary-color);
    font-size: 25px;
    font-family: var(--font-family-secondary);
    font-weight: 500;
    margin-bottom: 30px;
}
.menu-header{
    color: var(--tertiary-color);
    font-size: 20px;
    font-weight: 400;
   
}
.menu-subtitle h4{
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
}
.divider{
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: gray;
    height: 10px;
}
.menu-desc p{
    font-weight: 400;
    font-size: 15px;
    color: gray;
    
}
.menu-title .menu-subtitle span{
    padding: 4px 11px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 13px;
    margin-left: 10px;
    line-height: 1rem;
    
}
.menu-btn a:hover,.address-btn a:hover,.booking-btn a:hover,.booking-btn a:hover{
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
    transition: all .2s ease-in-out;
}
/* gallery  */
.scroller{
   white-space: wrap;
}
.scroll-track{
    /* overflow-x: hidden; */
    column-gap: 2cap;
    /* animation: scroll 25s infinite linear; */
}
.scroll-item img{
   width: 100%;
   
}
@keyframes scroll {
    100%{
        transform: translateX(-100%);
    }
    
}
/* address */
.address{
    background: url(../images/banner/b2.jpg);
    height: 730px;
}
.address .sub-address,.address .booking{
    background-color: var(--bg-color-shade);
    margin: 100px 30px;
    padding: 70px 120px;
    text-align: center;
    
}
.address .booking{
    padding-top: 70px;
    padding-bottom: 145px;
    padding-left: 70px;
    padding-right: 70px;
}
.sub-address{
    background: url(../images/transparent/contact-home1.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.booking{
    background: url(../images/transparent/online-home1.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.sub-address p,.booking p{
    font-size: 14px;
}
.sub-address h3,.booking h3,.story-content h5{
    font-family: var(--font-family-secondary);
    color: var(--tertiary-color);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    /* --webkit-text-fill-color:transparent;
    --webkit-text-stroke-color:white;
    --webkit-text-stroke-width:1px; */

}
.sub-address .schedule-header h4,.sub-address .schedule-header h5{
    font-weight: 400;
}
.address-btn{
    margin-top: 20px;
}
.booking .contact span{
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    text-transform: none;
    display: inline-block;
    
}
.booking-btn{
    margin-top: 40px;
}

/* products  */
.products{
    position: relative;
}
.beans{
    position: absolute;
    top: 0%;
    right: 0;
    z-index: -1;
}
.products .product-img{
    background-color: #fcd6f4;
}

.product-img-content{
    position: relative;
    cursor: pointer;
}
.product-img a{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 6px 12px;
    font-size: 13px;
}
.product-img-icons{
    position: absolute;
    bottom: 10%;
    left: 25%;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
}
.product-img-icons a i:hover{
    background-color:var(--text-color);
    color: var(--secondary-color);
}
.product-img-content:hover .product-img-icons{
    opacity: 1;
    visibility: visible;
    z-index: 1;
}
.product-img-icons a i{
    color: var(--text-color);
    background-color:var(--secondary-color);
    padding: 10px ;
    border-radius: 50%;
    margin-right:8px ;
}
.products .product-content a{
    color:var(--text-color);
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
}
.products .product-content a:hover,.article-botm a:hover{
    color: var(--primary-color);
    transition: all .2s ease-in-out;
}
.products .product-content p{
    color: #181818;
    margin-bottom: 10px;
}

.products .product-content i{
    color: var(--primary-color);
    margin-bottom: 50px;
}
/* articles */
.articles{
    position: relative;
}
.leaf{
    position: absolute;
    top: -25%;
    left: 0;
}
.article-img{
    height: 450px;
    position: relative;
    
}
.article-img img{
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in;
    
}
.article-img img:hover{
    transform: scale(1.03);
}
.article-top{
    position: absolute;
    top: 23%;
}
.article-top a{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 12px 11px;
    font-size: 14px;
}
.article-top a:hover{
    color: var(--text-color);
    transition: all .2s ease-in-out;
}
.article-botm{
    position: absolute;
    bottom: 0;
    margin-left: 30px;
}
.article-botm span, .article-botm a{
    display: block;
    color: var(--secondary-color);
    
}
.article-botm span{
    margin-bottom: 20px;
    word-spacing: 5px;
}
.article-botm h5{
    font-size: 25px;
    margin-bottom: 20px;
    font-family: var(--font-family-secondary);
    font-weight: 500;
    cursor: pointer;
}
.article-botm a{
    margin-bottom: 20px;
}
.article-botm a i{
    margin-left: 10px;
}
/* story  */
.story-content-title h2{
    margin-bottom: 30px;
}
.story-content p{
    color: gray;
    font-weight: 400;
    margin-bottom: 30px;
}
.story-content h5{
    margin-bottom: 14px;
}
.story-content ul li:last-child{
    margin-left: 30px;
}
/* testimonials  */
.testimonials .cup1{
    position: absolute;
    bottom: 5%;
    left: 0;
}
.testimonials .cup2{
    position: absolute;
    top: 0;
    right: 0;
}
.testimonials{
    background-color:#f8f3ed;
    height: 700px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.testimonials-content h5{
    font-size: 18px;
    font-family: var(--font-family-secondary);
    font-weight: 400;
    margin: 10px 0;
}
.testimonials-content .post{
    color: gray;
    margin-bottom: 20px;
}
.testimonials-content .views{
    font-size: 20px;
    font-weight: 400;
   
}
.testimonials-content .dots{
    margin: 40px 0;
}
.testimonials-content .dots i{
    font-size: 10px;
    letter-spacing: 5px;
    color: var(--primary-color);
}
/* footer  */
footer{
    background-color: var(--bg-color-tint);
}
.foot-content{
    padding-top: 90px;
    padding-bottom: 70px;
    border-bottom: 1px rgb(70, 69, 69) solid;
}
.email-input{
    position: relative;
}
.email p{
    margin: 30px 0;
    color: gray;
   
}
.form-control {
    height: 50px;
    width: 300px;
    padding: 6px 12px;
    background-color: transparent;
    border: 1px solid gray;
    outline: none;
    margin-bottom: 20px;
    font: 14px var(--font-family-primary);
    /* padding: 16px 48px 16px 24px; */
    /* position: relative; */
}
.btn-email{
    position: absolute;
    top: 0;
    left: 59%;
    padding: 17px 20px;
    border: none;
    margin: 1px 0;
    outline: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.btn-email:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all .1s ease-in-out;
}
.info ul li h5,.hrs h3{
    color:var(--secondary-color);
    font-family: var(--font-family-secondary);
    margin-bottom: 35px;
    font-size: 16px;
}
.info ul li,.hrs .schedule-header h4,.hrs .schedule-header h5{
    color: gray;
    margin-bottom: 15px;
    font-weight: 400;
}
.info ul li:hover{
    color: var(--primary-color);
}
.contact li,.hrs{
    font-size: 14px;
}
.foot-botm{
    padding: 30px 0;
    color: gray;
    font-size: 14px;
}

.icons-brands i{
    margin-right:10px;
}
.icons-brands i:hover{
    background-color: var(--primary-color);
    transition: all .2s ease-in-out;
}
.fa-facebook-f,.fa-x-twitter,.fa-instagram{
    padding: 7px 10px ;
    background-color: var(--text-color);
    color: white;
    border-radius: 50%;
    
}
.fa-x-twitter{
    padding: 7px;
}
.fa-instagram{
    padding: 8px 9px;
}
